/* fonts */
@font-face {
  font-family: "Quicksand";
  src: url("/Quicksand-Light.woff2") format("woff2"),
    url("/Quicksand-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* reset & common styles */
body,
ul,
h1,
h2,
h3,
p,
button,
a,
div {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Quicksand";
  letter-spacing: 2px;
  list-style-type: none;
  text-decoration: none;
}
body {
  height: 100vh;
  background-image: linear-gradient(
    109.6deg,
    rgba(48, 207, 208, 1) 11.2%,
    rgba(51, 8, 103, 1) 92.5%
  );
  overflow: hidden;
}

button {
  color: white;
  padding: 10px 30px;
  font-size: 18px;
  background: transparent;
  border-radius: 50px;
  border: 1px solid white;
  margin: 40px auto 0;
  cursor: pointer;
  opacity: 0.9;
  font-weight: 500;
}

button:hover {
  transition: all 0.2s;
  font-weight: 500;
  border: 1px solid white;
  background: #fff;
  color: black;
}
.container {
  max-width: 300px;
  margin: 100px auto 40px;
}
.container h3 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.container li {
  padding: 10px;
  cursor: pointer;
}

/* header */
header {
  display: flex;
  padding: 40px;
  align-items: center;
}
header .title {
  flex-grow: 1;
  margin-left: 20px;
  font-size: 0.6em;
}
header h1 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 10px;
}
header .pizza-svg {
  width: 80px;
  overflow: visible;
  stroke: #fff;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-linecap: round;
}

/* lists */
li span.active {
  font-weight: bold;
}
li span.active::before {
  content: ">";
  position: relative;
  top: -2px;
  margin-right: 6px;
  transform: scale(0.8, 1);
  display: inline-block;
}

/* pages */
.home h2 {
  cursor: pointer;
  font-size: 2em;
  margin-bottom: 30px;
}
.home.container,
.order.container {
  text-align: center;
  max-width: 800px;
}
.home button {
  font-weight: 500;
  color: white;
  padding: 15px 30px;
  font-size: 1.6em;
  border: 3px solid white;
  margin: 30px 20px;
}

.home button:hover {
  color: black;
}
.order p {
  margin: 20px auto;
}

.btn-icon {
  padding: 4px 30px;
  margin-bottom: 20px;
}

.btn-icon svg {
  fill: #fff;
  margin-top: 4px;
}

.btn-icon:hover svg {
  fill: black;
}

.svg-animation {
  filter: blur(50px);
  z-index: 0;
  width: 50%;
  opacity: 0.5;
  position: absolute;
}

.svg-animation2 {
  position: absolute;
  filter: blur(100px);
  z-index: 0;
  width: 20%;
  right: 0;
  opacity: 0.4;
}
